/* 오른쪽 전체 파트 */
.right_part{
    display: flex;
    flex-direction: column;
    /* width: 900px; */
    height: calc(100%-110px);
    width: 100%;
    margin: 15px 0 0 70px ;
    padding-right: 70px;
    overflow-y: scroll;
}
.row-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.item{
    display: flex;
    flex-direction: column;
    border: 2.3px #3E3E63 solid;
    position: relative;
    /* width: 26%; */
    width: 500px;
    height: 300px;
    padding-bottom: 30%;
    padding-top: 2px;
    margin-left: 20px;
    

}

.img {

    height: 260px;
}

.video_title p{
    
    padding: 8px 10px 10px 10px;
    margin: 20px;
    font-size: 17px;
}
