

/* 오른쪽 전체 파트 */
.right_part{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* width: 900px; */
    height: calc(100%-110px);
    width: 100%;
    margin: 15px 0 0 70px ;
    padding-right: 70px;
    overflow-y: scroll;
}
/* 끝 */



.cate_name h3{
    padding:0 0 20px 0;
    margin: 0;
    font-size: 23px;
}
.cate_box{
    display: flex;
    align-items: center;
    /* display: inline-flex; */
}

#video{
    border : 1px solid lightslategray;
    margin-right: 10px;
    
}
