/* 오른쪽 전체 파트 */
.right_part{
    display: flex;
    flex-direction: column;
    /* width: 900px; */
    height: calc(100%-110px);
    width: 100%;
    margin: 15px 0 0 70px ;
    padding-right: 70px;
    overflow-y: scroll;
}

.gory{
    width: 100%;
    margin-bottom: 10px;
}


#category_menu{
    height: 50px;
}

#category_menu ul {
    list-style: none;
    padding: 0 auto;
    margin : 0;
}

#category_menu ul li{
    float:left;
    width:8%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    background-color: rgb(65, 105, 225, 0.4);
    color: black;
    /* border: 2px solid #4169e1; */
    margin: 10px;
    border-radius: 30px;
}
/* 파랑색 클릭하면 찐해진다 */
#category_menu ul .top_on{
    background-color: #3c65be;
    color: white;
}

#category_menu li{
    text-decoration:none;
    color: black;
    font-size: 20px;
}





/* 나뎌로 */
.p-row-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.p-item{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 300px;
    height: 256px;
    margin-right: 10px;

}
.p-video_title p{
    padding: 8px 10px 10px 10px;
    margin: 0;
    color: red;
}

.cate{
    display: none;
}
/* #SList{
    display:none;
} */