{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ai_home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pop_video.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_out_signup.css' %}">

    <hr style="border: solid 20px white;">

    <!-- 웹폰트 추가 기능 -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');
        .this_font{
            font-family: Nanum Gothic Coding, serif;
            font-size: 25px;
        }
        </style>
    
</head>

<body>
    <div class="container">
        <div class="outer">
            <!--상단부-->

            <div class="top_nav">
                <!-- <p>상단 네비게이션</p> -->

                <!-- 왼쪽 -->
                <div id="box-left">
                    <a href="{% url 'home' %}">
                        <img class="img_logo" src="{% static 'image/로고.png'%}">
                    </a>

                </div>
                <!-- 중앙 -->
                <div id='box-center'>
                    <form>
                        <input class="input_button" type="image" src="{% static 'image/find.png'%}" alt="Submit">
                        <input class="input_box" type="text" placeholder="search">
                    </form>
                </div>
                <!-- 오른쪽 -->
                <div id='box-right' style="font-family: 'Handon3gyeopsal300g'">
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a href="javascript:{document.getElementById('logout').submit()}"
                                style="font-size:20px;"><img src="{%static 'image/log-out.png'%}" width="25px"
                                    height="25px">로그아웃</a></li>
                        <form id="logout" method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input_type="hidden" />
                            <!--숨겨진 폼 작성-->
                        </form>
                        <li><a><img src="{%static 'image/profile.png'%}" width="30" height="30"></a>
                            <ul><br>

                                {% else %}
                                <li class="li"><a href="{% url 'signup' %}" style="font-family: 'Cafe24Dangdanghae'"><div style="font-size: 22px;">회원가입</div></a></li>
                                <li class="li"><a href="{% url 'login' %}" style= "font-family: 'Cafe24Dangdanghae'"><div style="font-size: 22px;">로그인</div></a></li>
                                <li class="li"><a><img src="{%static 'image/profile.png'%}" width="30" height="30"></a>

                                    {% endif %}
                                </li>
                            </ul>
                </div>
            </div>

            <div class="content">
                <!--왼쪽 부분(nav)-->
                <div class="left_part" style="font-family: 'S-CoreDream-3Light'">
                    <div class="row">
                        <div class="column">
                        </div>
                        <div class="column">
                            <nav>
                                <ul class="left_nav">
                                    <li class="left_nav_item">
                                        <a href="{% url 'home' %}">HOME</a>
                                    </li>
                                    <li class="left_nav_item">
                                        <a href="{% url 'aiHome' %}">인공지능 함께 운동하기</a>
                                    </li>
                                    <li class="left_nav_item">
                                        <a href="{% url 'popVideo' %}">인기동영상</a>
                                        <!--인기동영상 화면으로 href-->
                                    </li>
                                    <!-- <li class="left_nav_item">
                                        <a href="#">My Page</a> -->
                                        <!--마이페이지 화면으로 href-->
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
