{% extends 'base.html' %}

{% block content %}
                <!--오른쪽 부분-->
                <div class="right_part">

                    <hr width="100%" size="0.5" color="#c7c7c7">
                    <!--PART1 인공지능으로 운동 배우기-->
                    <div style="border:1px solid #2C3E50"class="cate">

                        <div class="cate_name">
                            <h3>인공지능으로 운동 배우기</h3>
                        </div>


                        <div class="cate_box">

                        </div>

                    </div>
                    <hr width="100%" size="0.5" color="#c7c7c7">


                    <hr width="100%" size="0.5" color="#c7c7c7">
                    <!--PART2 인기 동영상-->
                    <div style="border:1px solid #2C3E50" class="cate">

                        <div class="cate_name">
                            <h3>인기 동영상</h3>
                        </div>

                        <div class="cate_box">
                        </div>

                    </div>
                    <hr width="100%" size="0.5" color="#c7c7c7">

                </div>
{% endblock %}