<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for video in VideoList %}
        <a href="{% url 'detail' video.id %}">{{video.title}}</a>
        
        <iframe width="871" height="490" src="https://www.youtube.com/embed/{{video.v_id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endfor %}
</body>
</html>