{% extends 'base.html' %}

{% block content %}
<!--오른쪽 부분-->
<!-- 인기동영상 -->

<div class="right_part">

    <!-- 인공지능운동 -->
    <div class="p-row-box">
        {% for aiVideo in AIList|slice":4" %}
        <div class=p-item>
            <a href="{% url 'aiDetail' aiVideo.id %}">
                <div class="p-video">
                    <iframe width="auto" height="170" src="https://www.youtube.com/embed/{{aiVideo.v_id}}"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="p-video_title">
                    <p>{{aiVideo.title|truncatechars_html:40}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="p-row-box">
        {% for aiVideo in AIList|slice"4:" %}
        <div class=p-item>
            <a href="{% url 'aiDetail' aiVideo.id %}">
                <div class="p-video">
                    <iframe width="auto" height="170" src="https://www.youtube.com/embed/{{aiVideo.v_id}}"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="p-video_title">
                    <p>{{aiVideo.title|truncatechars_html:40}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <!-- 끝 -->

</div>
{% endblock %}