<h3 class='signup'>Signup page</h3>
    

<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <!-- username -->
    <div>
        <h1>USERNAME</h1>
        <input name="username" type="username" class="signup_form">  
    </div>

    <!-- password1 -->
    <div>
        <h1>PASSWORD</h1>
        <input name="password1" type="password" class="signup_form">  
    </div>

    <!-- password2 -->
    <div>
        <h1>CHECK THE PASSWORD</h1>
        <input name="password2" type="password" class="signup_form"> 
    </div>

    <div>
        <h1>닉네임</h1>
        <input name="nickname"" type="password" class="signup_form">
    </div>
    <!-- 나이 data -->
    <div>
        <h3>나이</h3>
       <input type="radio" name="age" value="10대이하"/>10대이하
       <input type="radio" name="age" value="10대"/>10대
       <input type="radio" name="age" value="20대"/>20대
       <input type="radio" name="age" value="30대"/>30대
       <input type="radio" name="age" value="40대"/>40대
       <input type="radio" name="age" value="50대"/>50대
       <input type="radio" name="age" value="50대이상"/>50대 이상
   </div>

   <div>
        <h3>원픽하시오</h3>
        <input type="radio" name="workout_data" value="상체"/>상체
        <input type="radio" name="workout_data" value="하체"/>하체
        <input type="radio" name="workout_data" value="힙"/>힙
        <input type="radio" name="workout_data" value="복부"/>복부
        <input type="radio" name="workout_data" value="등"/>등
        <input type="radio" name="workout_data" value="어깨"/>어깨
        <input type="radio" name="workout_data" value="가슴"/>가슴
        <input type="radio" name="workout_data" value="팔"/>팔
        <input type="radio" name="workout_data" value="스트레칭"/>스트레칭
        <input type="radio" name="workout_data" value="다이어트댄스"/>다이어트 댄스
</div>

    <input type="submit" value="GO">

</form>