{% extends 'base.html' %}
{% block content %}


 <!--오른쪽 부분-->
 <div class="right_part">
    <!-- profile.help.setting 한번에 -->
    <div class="section_set">
        
    </div>
    <!-- profile -->
    <div class="logcommon" style="font-family:'a옛날목욕탕L'">
       
        <div style="color:cornflowerblue; text-align:center">
            <h2 class='signup'>회원가입 실패</h2></div>
        
        <div style="text-align: center;">
            <h4 class="signup" >비밀번호와 비밀번호 확인이 일치하지 않습니다.
                다시 회원가입을 시도해 주세요..</h4></div>        
         <center>
         <div class='gologin'> 
                
         <a href="{% url 'signup' %}">회원 가입 하러 가기</a>
        </div>   
    </center>
  </div>

  {% endblock %}